    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/caipyra_logo_2016.png" alt="{{ site.title }}">
                    <div class="intro-text">
                        <span class="skills color-yellow">{{ site.skills }}</span>
                        <h3>{{ site.date }}</h3>
                    </div>
                    <a href="https://www.youtube.com/watch?v=-FDJjk-suAg&list=PLBjt_SB_zYpEQrxVKl3GYYKyl_qc8vR58" class="btn btn-lg btn-buy btn-default">
                        Assista as palestras
                    </a>
                </div>
            </div>
        </div>
    </header>
