    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/caipyra_logo_2016.png" alt="{{ site.title }}">
                    <div class="intro-text">
                        <span class="skills">{{ site.skills }}</span>
                    </div>
                    <a href="https://www.eventbrite.com.br/e/caipyra-2016-tickets-23023397602?aff=es2" class="btn btn-lg btn-buy btn-default">Compre já o seu ingresso</a>
                </div>
            </div>
        </div>
    </header>
