 <!-- Organizers Section -->
    <section class="success" id="organizers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Organizadores</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <p>Amir Eleman</p>
                    <p>Beatriz Ambrósio</p>
                    <a href="http://github.com/mawkee">
                        <p>Danilo Martins</p>
                    </a>
                    <a href="http://github.com/daneoshiga">
                        <p>Danilo Shiga</p>
                    </a>
                    <p>David Sylvestre</p>
                    <a href="http://github.com/fernandochimi">
                        <p>Fernando Chimicoviaki</p>
                    </a>
                    <p>Guilherme Tavares</p>
                </div>
                <div class="col-lg-4 text-center">
                    <a href="http://github.com/jtemporal">
                        <p>Jessica Temporal</p>
                    </a>
                    <a href="http://github.com/leoberdu">
                        <p>Leonardo Berdu</p>
                    </a>
                    <a href="http://github.com/LuanP">
                        <p>Luan Pablo</p>
                    </a>
                    <a href="http://github.com/rougeth">
                        <p>Marco Rougeth</p>
                    </a>
                    <a href="http://github.com/marianamioto">
                        <p>Mariana Mioto</p>
                    </a>
                    <a href="http://github.com/seocam">
                        <p>Sérgio Oliveira</p>
                    </a>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center"></div>
            </div>
        </div>
    </section>
