<!-- Sponsors Section -->
<section id="sponsors">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Patrocinadores</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
                <br>
                <div class="row text-center">
                  <hr class="hr-white">
                  <h3><center>Diamante</center></h3>
                  <hr class="hr-white">
                  <div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                      <img class="img-support" src="img/logo_iclinic.png" alt="">
                    </div>
                    <div class="col-sm-4">
                    </div>
                  </div>
                </div>
                <div class="row text-center">
                  <hr class="hr-white">
                  <h3><center>Apoio</center></h3>
                  <hr class="hr-white">
                  <div>
                    <div class="col-sm-4">
                      <img class="img-support" src="img/logo_cetirp.png" alt="">
                    </div>
                    <div class="col-sm-4">
                      <img class="img-support img-support-fmrp" src="img/logo_fmrp.png" alt="">
                    </div>
                    <div class="col-sm-4">
                      <img class="img-support img-support-ceib" src="img/logo_ceib.png" alt="">
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
