<!-- Sponsors Section -->
<section id="sponsors">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Patrocinadores</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
                <br>
                <h3><center>Em breve!</center></h3>
                <div class="row text-center">
                    <hr class="hr-white">
                    <h3><center>Apoio:</center></h3>
                    <hr class="hr-white">
                    <img class="img-support" src="img/logo_cetirp.png" alt="">
                    <img class="img-support" id="img-support-fmrp" src="img/logo_fmrp.png" alt="">
                    <img class="img-support" src="img/logo_ceib.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
