<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% comment %}{% include nav.html %}{% endcomment %}
    {% include header.html %}
    {% include portfolio_grid.html %}
    {% comment %}{% include about.html %}{% endcomment %}

    {% include contact_static.html %}
    
    {% comment %}
    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}
    {% endcomment %}
    
    {% include organizers.html %}
    {% include sponsors.html %}

    {% include footer.html %}
    {% include modals.html %}

    <div id="carreta-furacao">
        <iframe id="fofao" width="640" height="480" src="" frameborder="0" allowfullscreen></iframe>
    </div>

    <!-- Dont use Konami Code -->
    <script src="{{ "js/konami.js" }}"></script>
    <script>
        var easter_egg = new Konami(function() { 
            document.getElementById('fofao').src = 'https://www.youtube.com/embed/qN4AUs61J_o?autoplay=1';
            document.getElementById('carreta-furacao').style.display = 'block';
        });
    </script> 
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75148800-1', 'auto');
    ga('send', 'pageview');

    </script>
    </body>
</html>
